@import url(https://fonts.googleapis.com/css?family=Truculenta:100,200,300,regular,500,600,700,800,900);
@import url('fonts.css');
@import url('reset.css');

body {
  font-family: Truculenta, sans-serif;
  font-size: 20px;
  color: firebrick;
  font-weight: 400;
}

.header {
  text-align: center;
}

#header-title {
  color: blue;
  font-family: 'Jingleberry-4wVp';
}

[class='header-text'] {
  color: rgba(137, 43, 226, 0.744);
}

h2 {
  font-weight: 700;
}

.evil {
  text-decoration: line-through red double;
}

section.first-section {
  color: firebrick;
  font-family: 'MintsodaLimeGreen13X16Regular-4n30l';
  font-weight: 300;
}

.page-section.second-section {
  color: rgba(0, 0, 0, 0.853);
}

.third-section h2 {
  color: rgb(139, 0, 86);
}

.fourth-section .section-title {
  color: greenyellow;
  text-align: end;
}

.fourth-section > p {
  color: rgba(234, 255, 47, 0.908);
  text-transform: uppercase;
  text-shadow: 5px 5px 5px #000;
}

.fifth-section h2,
.sixth-section h2 {
  color: deeppink;
  text-decoration: underline;
}

.history-title + p {
  color: orange;
}

.economy-title ~ p {
  color: gold;
  letter-spacing: 5px;
}

.footer {
  color: blueviolet;
  word-spacing: 30px;
}

.footer-text + .marked-text {
  color: aquamarine;
}

.footer-text ~ a {
  color: chartreuse;
}

.sleep-section,
.living-room-section {
  font-family: 'Proxima Nova', sans-serif;
  margin: 40px 0;
  width: 100%;
  max-width: 960px;
  min-height: auto;
  color: #2b2929;
}

.living-room-section {
  max-width: 1070px;
}

.sleep-title,
.living-room-title {
  font-size: 40px;
  text-align: center;
  line-height: 1.2; /* 48/40 */
  margin-bottom: 30px;
}

.sleep-text,
.living-room-text,
.living-room-list {
  font-size: 16px;
  line-height: 1.875; /* 30/16 */
  margin-bottom: 10px;
}

.living-room-title {
  text-align: left;
  margin-bottom: 40px;
}

.living-room-list-title {
  margin-bottom: 30px;
  line-height: 1.4; /* 28/20 */
}

.living-room-list,
.living-room-pict,
.living-room-block {
  margin-bottom: 40px;
}

.living-room-item {
  list-style: circle inside;
  margin-bottom: 20px;
  max-width: 1020px;
}
