@import url('reset.css');

#header-title {
  color: blue;
}

[class='header-text'] {
  color: rgba(137, 43, 226, 0.744);
}

h2 {
  color: rgba(255, 98, 0, 0.9);
}

section.first-section {
  color: firebrick;
}

.page-section.second-section {
  color: #000000c1;
}

.third-section h2 {
  color: rgb(139, 0, 86);
}

.fourth-section .section-title {
  color: greenyellow;
}

.fourth-section > p {
  color: rgba(234, 255, 47, 0.908);
}

.fifth-section h2,
.sixth-section h2 {
  color: deeppink;
}

.history-title + p {
  color: orange;
}

.economy-title ~ p {
  color: gold;
}

.footer {
  color: blueviolet;
}

.footer-text + .marked-text {
  color: aquamarine;
}

.footer-text ~ a {
  color: chartreuse;
}
